# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.csproj text eol=crlf
*.sln text eol=crlf
app.config text eol=crlf
packages.config text eol=crlf
